

.main{
    display: flex;
    height: calc(100vh - 3.5rem );
    background-color: #000;
    color: white;
}
.main .sidebar{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 15vw;
    padding: 2rem 0rem 0 0rem;
    overflow: scroll;
    scroll-behavior: smooth;
    border-right: 1px solid rgb(63, 55, 55);
}
.main .sidebar::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.sidebar button{
    background-color: #000;
    color: white;
    /* align-items: center; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 95%;
    border-radius: 1rem;
    transition: .5s;
    margin: .5rem 0;
}
.sidebar button span{
    padding: 0 1rem;
    color: #FC1503;
    transition: .5s;

}

.sidebar .active,
.sidebar button:hover{
    background-color: #FC1503;
}
.sidebar .active span,
.sidebar button:hover span{
    color: white;
}

.main{
    align-items: center;
    justify-content: center;
}

.main .interface{
    margin: 2rem;
    width: 85vw;
    height: calc(100% - 4rem);
    
}
.main .interface .AllVideo{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 100%;
}
.main .interface .AllVideo::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.main .interface h2 span{
    color: #FC1503;
}
.videocard{
    width: 240px;
    height: 300px;
    margin: 0rem 1rem;
}
.videocard img {
    height: 180px;
    width: auto;
    /* margin: 0rem 1rem; */
}
.videocard .channel{
    padding-top: 1rem;
    border-radius: 7rem;
}

.videocard h4{
    color: white;
    font-size: .9rem;
    font-weight: 100;
}
.videocard h2{
    color: gray;
    font-size: 1rem;
    margin: 1rem 0rem;
    font-weight: 900;
    
}
.videocard h2 i{
    font-size: 1.3rem;
}

@media screen and (max-width: 750px){

    .main .sidebar {
        width: 30vw;
    }
    .main .interface {
        width: 75vw;
    }
    .videocard img{
        height: 150px;
    }
    .videocard{
        width: 200px;
    }



}
@media screen and ( max-width: 600px) {
    
    .main {
        flex-direction: column;
    }
    .main .sidebar{
        flex-direction: row;
        height: 5rem;
        width: 100vw;
        padding: 0rem 0rem;
    }
    .sidebar button{
        padding: 0rem 1rem;
        margin: 1rem .5rem;
    }
    .main .interface{
        margin: 0rem;
    }


    .main .interface {
        width: 95vw;
    }
    .videocard{
        height: 250px;
    }


}