.video-content-page{
    min-height: calc(100vh - 3.5rem );
    background-color: #000;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.video-player{
    height: 85vh;
    width: 75vw;
}
.video-player h3{
    padding: .5rem 1rem;
}
.video-player .video-content {
    color: gray;
    height: 6%;
    width: 100%;
    padding: 0rem 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.video-player .video-content h3{
    color: gray;
}
.video-player .video-content .video-view{
    display: flex;
    align-items: center;
}
.video-player .video-content .video-view h6{
    padding: 0rem 1rem;
    font-size: 1rem;
}
.video-content-page .video-list {
    height: calc(100vh - 3.5rem);
    overflow-y: scroll;
}



@media screen and ( max-width: 600px ) {
    
    .video-content-page {
              display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    }
    .video-player {
        /* height: 85vh; */
        /* width: 75vw; */
        width: 100vw;
        height: 40vh;
    }
    .video-content-page .video-list {
        /* height: calc(100vh - 3.5rem); */
        /* overflow-y: scroll; */
    }

}